<h1 class="text-2xl font-bold mb-4">会派検索結果</h1>
<ul>
  <% @groups.each do |group| %>
    <li><%= link_to group.name, group_path(group), class: "text-blue-600 hover:underline" %></li>
  <% end %>
</ul>

<p class="text-xs text-gray-500 mt-6">
  ※自由民主党、立憲民主党、国民民主党はそれぞれ衆議院/参議院で、自由民主党・無所属の会/自由民主党、立憲民主党・無所属/立憲民主・社民・無所属、国民民主党・無所属クラブ/国民民主党・新緑風会として議員名簿登録しています。<br>
  日本維新の会は、2024年1月15日から日本維新の会・教育無償化を実現する会の統一会派を結成しましたが、10月27日に会派名を再び日本維新の会に変更しました。日本維新の会・教育無償化を実現する会の名簿は未掲載です。<br>
  党員情報は公式ホームページからの引用です。
</p>
