<h1 class="text-2xl font-bold mb-4">会派検索結果</h1>
<ul>
  <% @groups.each do |group| %>
    <li><%= link_to group.name, group_path(group), class: "text-blue-600 hover:underline" %></li>
  <% end %>
</ul>
